@using ViewsComponent.ViewComponents
@model IEnumerable<TodoItem>


<h2>ToDo Starter</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsDone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            </tr>
    }
</table>

<div>
    Testing nameof/typeof(PriorityList) <br/>
    Maximum Priority: @ViewData["maxPriority"] <br/>
    Is Complete:  @ViewData["isDone"]
    @await Component.InvokeAsync(typeof(PriorityList),
        new { 
            maxPriority =  ViewData["maxPriority"],
            isDone = ViewData["isDone"]
        }
    )

    @* <div>
        Maxium Priority: @ViewData["maxPriority"] <br />
        Is Complete:  @ViewData["isDone"]
        @{
            int maxPriority = Convert.ToInt32(ViewData["maxPriority"]);
            bool isDone = Convert.ToBoolean(ViewData["isDone"]);
        }
        <vc:priority-list max-priority=maxPriority is-done=isDone></vc:priority-list>
    </div> *@
</div>