@model List<DISample.Service.DTOs.ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach (var item in Model)
    {
        <p>
            @item.Id - @item.Name
        </p>
    }
    
    <h4>Transient</h4>
        @ViewBag.TransientService1 <br />
        @ViewBag.TransientService2
    
    <h4>Scoped</h4>
        @ViewBag.ScopedService1 <br />
        @ViewBag.ScopedService2
    
    <h4>Singleton</h4>
        @ViewBag.SingletonService1 <br />
        @ViewBag.SingletonService2
    
</div>
